
*{
    font-family: Arial, sans-serif;
}

h1{
    color: blue;
    background-color: #c9d1ff;
}

#p2{
    color: purple;
    background-color: #e0c9ff;
}

.parrafo{
    color: orange;
    background-color: #ffe5b4;
}

/* Estilos para todos los párrafos */


p{
    color: green;
    background-color: #c9ffc9;
}

body{
    color: red;
    background-color: #ffc9c9; 
}

div {
    background-color: aqua;
}

a:hover{
    color: black
}

#p2::first-letter{
    font-size: 200%;
    color: red;
}

