#init {
  position: absolute;
  left: 50px;
  top: 40px;
  width: 100px;
  height: 100px;
  background-color: lightyellow;
  border: 1px solid #000;
}
#transformacion {
  position: absolute;
  left: 50px;
  top: 40px;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 1px solid #000;
}

.rotacion-c {
  transform: rotate(25deg);
}


.rotacion-hg {
  transform-origin: left top;
  transform: rotate(25deg);
  background-color: lightsalmon !important;
}


