body {
  margin: 0px;
}

table {
  height: 200px;
  border: 1px solid rgb(255, 12, 12);
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  background-color: burlywood;

  td {
    border: 4px solid black;
    background-color: antiquewhite;
  }
  .arriba {
    vertical-align: top;
  }

  .abajo {
    vertical-align: bottom;
  }

  .en-medio {
    vertical-align: middle;
  }
}

p{
  font-weight: 100;
  
}

#p2{
  text-decoration-line: underline overline; /* Define que habrá un subrayado */
  text-decoration-style: double;    /* Hace que el subrayado sea ondulado */
  text-decoration-color: red;     /* Opcional: Define el color de la línea *
}

#p3{
  font-variant: small-caps;/*versalitas*/
  text-indent: 70px;
  
}

#p4{
  font-style: oblique;  /* no se nota con respecto a italic, es muy sutil*/
  font-weight: 400;
}
.parrafo1 {
  vertical-align: baseline;
}
.parrafo2 {
  vertical-align: sub;
}
.parrafo3 {
  vertical-align: super;
}
.parrafo4 {
  vertical-align: 20px;
}

span{
  color: rgb(0, 164, 109);
}

#st{
  vertical-align: super;
  font-size: 32%;
}

h2{
  text-shadow: 7px 4px 5px blue;
}

#cajita1{
  box-shadow: 7px 4px 10px black;
  width: 100px;
  height: 100px;
  margin: 20px;
}

img{
  width: 50px;
  filter: drop-shadow(1px 1px 4px #636371);
}




