*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
}

h2{
    margin-top: 10px;
    font-style: italic;
}

p{
    margin: 10px 10px 10px;
    text-decoration: underline;
    word-spacing: 10px;
    text-transform: capitalize;
}

.container{
    padding:10px;
    width:200px;
    height: 120px;
    white-space: nowrap;
    border: 2px solid;
    border-color: black;
    overflow: auto;
}

