body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: blue;
  color: aliceblue;
  padding: 1em;
 
  h1 {
    background-color: blueviolet;
    padding: 0.5em;
    text-align: center;
  }

  ul { 
    display: flex;
    li {
      list-style: none;
    }
  }
}
