body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* background-image: url('verde.png');
  background-attachment: local; */
}

header {
  background-color: blue;
  color: aliceblue;
  padding: 1em;
 
  h1 {
    background-color: blueviolet;
    padding: 2px 4px 8px 12px;
    text-align: center;
    border: 4px solid red ;
    border-radius: 30px;
    border-width: 2px 4px; /*T R B L (agujas del reloj) */
    /* border-color: rgb(255, 0, 221) aquamarine yellowgreen yellow; */
    /* border-style: solid dotted dashed double; */
    margin: 2px 4px 8px 12px;

  }

  p{
    background-color: aquamarine;
    border: 4px yellow solid;
    border-radius: 2px;
    border-width: 2px 4px;
    padding: 5px;
    outline: 2px solid orange;
    outline-offset: 5px;
  
  }
}

main{
   min-height: 100vh;
   background-image: url('m.webp');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-origin: content-box ;
   border: 50px red solid;
   padding: 20px;

   a{
    text-decoration: none;
   }
}

footer{
 background-color: cadetblue;
}


